<!DOCTYPE html>
{% load static %}
<html>

    <body>
        <title>My Youtube</title>
        <h1>My Youtube</h1>
        <div id="vedios">
            <ul>
                {% if videos %}
                {% for video in videos %}
                <li><a href="/myYoutube/watch/?url={{video.url}}">{{ video.name }}</a>
                    <button id="delete" data-key="{{ video.name }}" type="button" class="myYoutube-delete" >delete</button></li>
                {% endfor %}

                {% endif %}
            </ul>
        </div>
        <div >
            <strong>{{form.file.label}} </strong>
            <form  action ="." enctype="multipart/form-data" method="POST">
                {% csrf_token %}



                {{form.file}}<br/>
                <input type="submit" value="Upload"  />
            </form>
        </div>
        <script src="{% static 'js/jquery-2.0.3.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/myYoutube-ajax.js' %}"></script>
    </body>
</html>
