{% extends 'myYoutube/base.html' %}
{% block body_block %}
{% load static %}

<script src="http://jwpsrv.com/library/uLHxRk2KEeOa0BIxOQfUww.js"></script>
<div class="hero-unit" >
<div  id="myElement">Loading the player...</div>
<a  href="{{url}}">download</a>
</div>
<!-- <a href="/myYoutube/">back</a> -->


<script type="text/javascript">

    var a ="{{ url }}";
    // alert(a);
    // var b="{{ videos }}";
    // var myObject = JSON.parse('{{ data }}');
    // alert(b);
    jwplayer("myElement").setup({
        // flashplayer: "{% static 'js/jwplayer.flash.swf' %}",
        file: a
        // image: "videos/cute-bunny.jpg"
    });
</script>
{% endblock %}